
@font-face {
    font-family: "Lexend";
    src: url("../FONT/LexendDeca-Medium.ttf");
}

#font_Lexend {
    font-family: "Lexend";

}


h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 5em;
    padding-top: 8%;
}


nav {
    background-color: #e63a47;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: white;
}



li {
    margin-left: 30px;
}

li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 2px 5px 2px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f3968e;
}

main section {
    width: 400px;
    height: 400px;
    margin: 1%;
    margin-top: -10%;

}

.container {
    width: 180vh;
    height: 100vh;
    margin: auto;
    margin-top: 3%;
}

img {
    width: 100%;
    border: 5px solid white;
}

p {
    position: absolute;
    margin-top: -50px;;
    width: 100%;
    font-size: 1.2rem;
}


.ramo3 {
    margin-left: 110px;
    color: white;

}

.ramo4 {
    margin-left: 110px;
    color: white;

}

.ramo2 {
    margin-left: 110px;
    color: white;
}

.ramo1 {
    margin-left: 110px;
}

.encargos{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
